{% extends 'base.html' %}
{% load static %}


{% block content %}

	{% if user.is_authenticated %}
		<br>
		<p><strong>You are already logged in.</strong></p>
		Sakin ol champ içerdesin.
	{% else %}
		
		<br>
		<h1>Log in</h1>
		<form method="post" action="." class="login-form">
			{% csrf_token %}

			{% for field in form %}
			<p>
				{{ field.label_tag }} <br>
				{{ field }}
				<small style="color:grey">{{ field.help_text }}</small>

				{% for error in field.errors %}
					<p style="color:red">{{ error }}</p>
				{% endfor %}
			</p>

			{% endfor %}

		<input class="login-input" type="submit" value="login">
		<input type="hidden" name="next" value="{{ next }}">
	</form>

	{% endif %}


{% endblock %}