.content .models {
	padding-top: 30px;
	padding-left: auto;
}


.content .models table {

font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

.content .models td,th {
	border: 2px solid #696969;
	text-align: left;
	padding: 8px;
}

.content .models tr:nth-child(even) {
	background-color: #dddddd;

}

.content .models .column {
	float: left;
	padding: 10px;
}
.content .models .column .side{
	width: 20%;

}

.content .models .column .middle {
	width: 60%;
}

.content .models .row:after {
	content: "";
	display: table;
	clear: both;
}

input[type=submit] {
	width: 100%;
	background-color: #808080;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #778899;
}
