{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="models">
	<div class="row">
		<div class="column middle">
			<div class="panel panel-primary">
			  <div class="panel-heading">Enter your text HERE (DO NOT USE the character ">")</div>
			      <div class="panel-body">
			      		<form role="form" id = "page_form" method="post" action="{% url 'machine-learning:model_1' %}">
							{% csrf_token %}					 
							{{ text_form.non_field_errors }}
							<div class="text_area" >
							    {{ text_form.text_area.help_text }} <br />
							    {{ text_form.text_area }}
							    {{ text_form.text_area.errors }}
							</div>

							<div class="select-box">
								<span >
									{{ text_form.language_choice }} 
									{{ text_form.language_choice.help_text }}
								</span>
							</div>
							<div class="checkbox">
								
								<span>

									{{ text_form.remove_stopwords }}
									<label>{{ text_form.remove_stopwords.help_text }}</label>
										
								</span>
								<span>
									{{ text_form.make_lowercase }}
									<label>{{ text_form.make_lowercase.help_text }}</label> 
									
								</span>
								<span>
									{{ text_form.remove_numbers }} 
									<label>{{ text_form.remove_numbers.help_text }}</label>	
								</span>

								<span>
									{{ text_form.remove_special_characters }} 
									<label>{{ text_form.remove_special_characters.help_text }}</label>	
								</span>
								<span>
									{{ text_form.remove_html_tags }} 
									<label>{{ text_form.remove_html_tags.help_text }}</label>
								</span>
								<span>
									{{ text_form.remove_url }} 
									<label>{{ text_form.remove_url.help_text }}</label>
								</span>
							</div>
								<br><br>
							<input type="submit" value="Process" class="process"> 
						</form>	

			      </div>
			</div>
				
		</div>
		<div class="column side">
			<div class="panel panel-primary">
			  <div class="panel-heading">Result will be shown HERE</div>
			      <div class="panel-body">
<!-- 						<label for="text_result">Result will be shown HERE</label><br /> -->
						<textarea id="text_result" rows="20" cols="80" >{{ result_text }}</textarea>

			      </div>
			</div>
		</div>
	</div>	
</div>

{% endblock %}




