{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="models">
	<div class="row">
		<div class="column middle">
			<div class="panel panel-primary">
              <div class="panel-heading">Titanic Survival Prediction</div>
	             <div class="panel-body">
					<div class="form-query">
						<form role="form" id = "page_form" method="post" action="{% url 'machine-learning:model_3' %}">
							{% csrf_token %}

							{% for hidden in form.hidden_fields %}
								{{ hidden }}
							{% endfor %}

							{% for field in form.visible_fields %}
								<br />{{ field.help_text }} {{ field }}  {{ field.errors }}
								<br />
							{% endfor %}
							<br>
							<input type="submit" value="Predict">
						</form>
					</div>
	            </div>
            </div>
			<hr />

		</div>	

		<div class="column side">

			<div class="panel panel-primary">
              <div class="panel-heading">Result</div>
	              <div class="panel-body">
		            {% if predicted_category and probability %}
						<p><strong>{{predicted_category}}</strong></p>
						<p>Probability: {{probability}} %</p>
					{% else %}
						<p>Make A Prediction First</p>
						<p>Probability: No Prediction Available</p>
					{% endif %}
	              </div>
            </div>
	            <p><h4> Use machine learning to create a model that predicts which passengers survived the Titanic shipwreck, using passenger data </h4></p>
	            <p><h4> (ie name, age, gender, socio-economic class, etc). On April 15, 1912, the widely considered “unsinkable” Titanic sank after </h4></p>
				<p><h4> colliding with an iceberg. Unfortunately, there weren’t enough lifeboats for everyone onboard, resulting in the death of 1502 </h4></p>
				<p><h4> out of 2224 passengers and crew.</h4></p>
				<p><h4> Average Passenger Fare for a 3rd Class: 13 pounds, for a 2nd Class: 20 pounds, for a 1st class: 84 pounds. Max is 512 Pounds</h4></p>
				
				<br />
				<a href="https://www.kaggle.com/c/titanic">Kaggle-Titanic</a>
				<hr />
		
		</div>	

	</div>
</div>


{% endblock %}
