{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="models">
	<div class="row">
		<div class="columns side">	
		</div>
		<div class="columns middle">
			<div class="panel panel-primary">
			  <div class="panel-heading">Under Construction</div>
			      <div class="panel-body">
			      	Under Construction ...
<!-- 						<form method="POST" >
							{% csrf_token %}
							{{ form.as_p }}
							<button type="submit" >Predict</button>
						</form>
						<h3><strong>Prediced Results:</strong></h3>
						<p>{{y_predicted}}</p>
						<h3><strong>R2 Score:</strong></h3>
						<p>{{ r2_score }}</p>

						<strong>Query : Result </strong>
						{% for query, result in query_prediction %}
								<li><strong>{{ query }}: {{ result }}</strong></li>
						{% endfor %} -->
			      </div>
			</div>	
		</div>

	</div>	
</div>

{% endblock %}