{% extends 'base.html' %}
{% load static %}



{% block content %}
	<div class="blog">
		<div class="panel panel-jumbo">
			<h3 class="welcome">yıpıy zıkı abi ey ay </h3>

			<div style="width:100%;height:0;padding-bottom:15%;position:relative;"><iframe src="https://giphy.com/embed/3o85xwc5c8DCoAF440" width="80%" height="80%" style="position:absolute;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/robot-fail-3o85xwc5c8DCoAF440"></a></p>

			<div style="width:100%;height:0;padding-bottom:15%;position:relative;"><iframe src="https://giphy.com/embed/EizPK3InQbrNK" width="80%" height="80%" style="position:absolute;" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/EizPK3InQbrNK">via GIPHY</a></p>			  
		</div>
	</div>

{% endblock %}