<!DOCTYPE html>
{% load static %}


<html lang='en'>
<head>
	<title>Ortofoşol Ontologonco | 2020 </title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<link rel="icon" href="{% static 'images/favicon3.ico' %}">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/models.css' %}">

</head>
<body>
	<a href="{% url 'base' %}">
		<div class="header-image"></div>
	</a>

 	<div class='topnavbar'>

		<a href="{% url 'blog:home' %}" class="{{ home_status }}">Home</a>
		<a href="{% url 'blog:blog' %}" class="{{ blog_status }}">Blog</a>
		<a href="{% url 'blog:about' %}" class="{{ about_status }}">About</a>	

 		
		<div class="dropdown">
			<button class="dropbtn" onclick="myFunction()">ML Models
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content" id="myDropdown">
				<a class="{{ model_1_status }}" href="{% url 'machine-learning:model_1' %}">Model 1</a>
				<a class="{{ model_2_status }}" href="{% url 'machine-learning:model_2' %}">Model 2</a>
				<a class="{{ model_3_status }}" href="{% url 'machine-learning:model_3' %}">Model 3</a>
			</div>
		</div>

 		<div class="topnavbar-right">
 			<a href="#">Register</a>
 			<a href="#">Log in</a>
 		</div>
 	</div>

	<div class="content">
		{% block content %}
			<h3>Base Page</h3>
			<img src="{% static 'images/main.jpg' %}" alt="Main Picture">
		{% endblock %}
	</div>

<script>
/* When the user clicks on the button, toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(e) {
  if (!e.target.matches('.dropbtn')) {
  var myDropdown = document.getElementById("myDropdown");
    if (myDropdown.classList.contains('show')) {
      myDropdown.classList.remove('show');
    }
  }
}
</script>

</body>
</html>